# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# instance data, databases
volumes/sqlite.db
instance/volumes/sqlite.db
**.pyc
__pycache__/__init__.cpython-310.pyc
api/__pycache__/nflteam.cpython-310.pyc
api/__pycache__/score.cpython-310.pyc
model/__pycache__/facts.cpython-310.pyc
model/__pycache__/nflteam.cpython-310.pyc
model/__pycache__/scores.cpython-310.pyc
